<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <h1>Index Page</h1>
    <div>
        <% for(let song of songs){ %>
    <article>
        <a href="/songs/<%= song._id %>">
            
            <h2>
                <%= song.songTitle %> - <%= song.artist %> - <%= song.sangBefore ? "Sang" : "Have Not Sung"%>
                
            </h2>
        </a>
        
    </article>
  <%  } %>
  <a href="/songs/new"><button>Add a Song</button></a>
</div>
</body>
</html>