<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <div class="all-songs">
        <% for(let song of songs){ %>
    <article>
        <a href="/songs/<%= song._id %>">
            <div class="song">
            <h2>
                <%= song.songTitle %></a> by  <%= song.artist %> 
 </h2>
            <h2> <%= song.sangBefore ? "Sang" : "Have Not Sung"%> </h2>  
           
        </div>
        
        
    </article>
  <%  } %>
  
</div><a href="/songs/new"><button>Add a Song</button></a>
</body>
</html>