<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<a href="/songs"><button>Back to Your List</button></a>
<body>
    <%- include("../partials/header.ejs") %>
    <h1>Show Page</h1>
    <article><div class="show">
        <h2>
            <%= song.songTitle %> - <%= song.artist %>
        </h2>
        <h3>
            <%= song.sangBefore ? "Sang" : "Have Not Sang... yet" %>
        </h3>
        <a href="/songs/<%= song._id %>/edit"><button>Update</button></a>
        <form action="/songs/<%= song._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
        </form></div>
    </article>
</body>
</html>